*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.header{
    background-color: #EDF2EC;
}
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;

}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 448px;
}
.nav-item{
    padding: 55px 0;
}
.nav-item__link{
    font-size: 16px;
    font-family: Inika;
    font-weight: 400;
    color: #010201;
}
.nav-item__link.active{
    color: #E06733;
}
.welcome{
    background-color: #EDF2EC;
}
.welcome__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 53px;
}
.welcome__content{
    width: 549px;
}
.welcome__title{
    font-family: Inter;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    text-shadow:  0 4px 8px #b3b0b0;
}
.welcome__title span{
    color: #499A18;
}
.welcome__text{
    font-size: 20px;
    font-family: Inter;
    line-height: 35px;
    font-weight: 400;
    color: #636060;
    margin: 45px 0;
    text-shadow:  0 4px 8px #b3b0b0;
}
.welcome__button{
    font-size: 16px;
    text-transform: uppercase;
    font-family: Inter;
    font-weight: 400;
    padding: 12px 27px;
    color: #000;
    border: 2px solid #E06733;
    background-color: transparent;
    border-radius: 10px;
    box-shadow:  0 5px 8px #b3b0b0;
}
.welcome-img{
    position: relative;
    left: -10px;
    top: -6px;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
}
.about-content{
    width: 605px;
}
.about__title{
    font-size: 40px;
    color: #499A18;
    font-family: Inika;
    font-weight: 400;
    width: 463px;
}
.about__title span{
    color: #E06733;
}
.about__text{
    color: #636060;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 39px;
}
.about-img{
    position: relative;
    bottom: 5px; 
}
.service{
    background-color: #EDF2EC;
}
.serice-header{
    display: flex;
    align-items: center;
    padding-top: 35px;
}
.service__title{
    color: #499A18;
    font-size: 40px;
    line-height: 52.12px;
    font-family: Inika;
    font-weight: 400;
    width: 306px;
}
.service-buttons{
    margin-left: 142px;
}
.service-buttons__link{
    font-size: 20px;
    width: 161px;
    height: 50px;
    color: #E06733;
    border: 1px solid #E06733;
    background-color: transparent;
    font-family: Inika;
    font-weight: 400;
    border-radius: 5px;
    margin-right: 33px;
}
.service-buttons__link:last-child{
    margin-right: 0;
}
.service-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 120px;
}
.service-card{
    width: 329px;
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 38px;
    margin-top: 54px;
    
}
.service-card.first-row{
    margin-top: 78px;
}
.service-card__img{
    border-radius: 20px 20px 0 0;
    position: relative;
    right: 2px;
}
.service-card__title{
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    color: #E06733;
    margin: 7px 0 10px;
}
.service-card__text{
    font-size: 16px;
    color: #717171;
    font-family: Inter;
    font-weight: 400;
}
.prices{
    padding: 40px 0 100px;
}
.prices-content{
    display: flex;
    justify-content: space-between;
}
.accardion__title{
    font-family: Inter;
    font-weight: 700;
    color: #000;
    font-size: 40px;
}
.accardion-box{
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px 34px 41px;
    margin-top: 60px;
}
.accardion__item{
    padding: 12px 116px 12px 40px;
    background-color: #EDF2EC;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accardion__item:last-child{
    margin-bottom: 0;
}
.accardion__item-title{
    font-size: 20px;
    font-family: Inter;
}
.prices-contact{
    width: 452px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.prices-contact__title{
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    line-height: 50px;
    color: #000;
    text-align: end;
}
.prices-contact__title span{
    color: #499A18;
}
.prices__button{
    padding: 11px 32px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-size: 20px;
    font-family: Inika;
    color: #E06733;
    background-color: transparent;
    margin: 40px 0;
}
.prices__img{
    position: relative;
    top: -3px;
    right: -6px;
}
.contacts{
    background-color: #EDF2EC;
    height:549px;
}
.contacts__title{
    font-size: 40px;
    font-family: Inika;
    font-weight: 700;
    color: #499A18;
    text-align: center;
    padding-top: 60px;
}
.contacts-content{
    display: flex;
    justify-content: space-between;
}
.contacts-img{
    position: relative;
    top: -60px;
}
.contacts-city{
    background-color: #D6E7D2;
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 38px;
}
.contacts-city__title{
    padding:0 0 0 20px;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    color: #717171;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.footer__column.github{
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.footer__column.github p, .footer-link , .footer-logo {
    font-size: 20px;
    color: #000;
    font-family: Inter;
    font-weight: 400;
}
.footer-logo{
    position: relative;
    left: 13px;
}
.icon__item{
    margin-left: 15px;
}
.icon__item img{
    width: 32px;
    height: 32px;
}